<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO List - DYLC</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

</head>

<body>
<div style="text-align:center">
    <h1>TODO List</h1>
</div>
<form action="/todo/check-done" method="POST" style="text-align: center">
    <div style="display: inline-block; width: 400px; text-align: left">
        <ul class="list-group" th:each="todo: ${todoList}">
            <div>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" name="todos" th:value="${todo.id}" th:checked="${todo.isDone()}"/>
                <label class="form-check-label" th:text="${todo.content}"></label>
            </li>
            </div>
        </ul>
    </div>
    <div>
        <input type="submit" value="checkbox 업데이트">
    </div>
</form>
<div style="text-align: right">
    <a th:href="@{/todo/create}" class="btn btn-primary">새로운 TODO 등록하기</a>
</div>

</body>
</html>